#form{
width: 50%;
margin-left: 25%;
margin-top: 5%;
}

#parent-container{
background-image: url("https://i.ibb.co/yPR2txM/copy-747241530.png");
background-size: contain;
background-repeat: space;
}