body {
line-height: 1;
background-color: #F5E8C7;
}

header{
display: grid;
grid-template-columns: auto auto;
grid-column-gap: 50%;
padding: 0;
}

header h1 {
color: #6F4C5B;
font-size: 100px;
font-family:'Bebas Neue', cursive;
padding: 20px 20px 20px 30px;
}

nav {
padding: 5px;
}

nav ul {
list-style: none;
padding-top: 25px;
}

nav ul li {
display: inline;
padding-top: 50px;
color: #6F4C5B;
padding-left: 4px;
font-family: 'Bebas Neue', cursive;
font-size: 20px;
}

nav ul a{
text-decoration: none;
padding-right: 15px;
}

nav ul a:hover {
padding: 10px;
background-color: #DEBA9D;
}