<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<header>
    <a href=""><h1>Albums</h1></a>
    <nav>
        <ul>
            <a href=""><li>Home</li></a>
            <a href=""><li>Capitalized</li></a>
            <a href=""><li>Album</li></a>
        </ul>
    </nav>
</header>
<body>
<form>

</form>
</body>
</html>