<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="albums.css">
    <meta charset="UTF-8">
    <title>Add Song</title>
</head>
<header>
    <a href=""><h1>Albums</h1></a>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/albums"><li>Albums</li></a>
            <a href="/songs"><li>Songs</li></a>
            <a href="/addSong"><li>Add Song</li></a>
            <a href="/addAlbum"><li>Add Album</li></a>
        </ul>
    </nav>
</header>
<body>
<div id="parent-container">
    <div id="form-container">
        <fieldset title="Add Your Favorite Albums">
            <form id="form" th:action="@{/addSong}" method="post">
                <div class="form-group">
                    <label for="exampleInputTitle">Song Title</label>
                    <input type="text" name="title" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Song Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputArtist">Song Length</label>
                    <input type="text" name="length" class="form-control" id="exampleInputArtist" aria-describedby="artistHelp" placeholder="Song Length">
                </div>
                <div class="form-group">
                    <label for="exampleInputSongCount">Track Number</label>
                    <input type="number" name="trackNumber" class="form-control" id="exampleInputSongCount" aria-describedby="songHelp" placeholder="Track Number">
                </div>
                <div class="form-group">
                    <label for="exampleInputSongCount">Album</label>
                    <input type="text" name="album" class="form-control" id="exampleInputAlbumId" aria-describedby="songHelp" placeholder="Album">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </fieldset>
    </div>
</div>
</body>
</html>