<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
    <title>Home</title>
</head>
<body>
<header>
    <a href="" id="href"><h1>Albums</h1></a>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/albums"><li>Albums</li></a>
            <a href="/songs"><li>Songs</li></a>
            <a href="/addSong"><li>Add Song</li></a>
            <a href="/addAlbum"><li>Add Album</li></a>
        </ul>
    </nav>
</header>

<main>
    <h1>This application contains Albums and songs</h1>
    <h2 th:text="${word}"></h2>
</main>

<footer>

</footer>

</body>
</html>