<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="albums.css">
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<header>
    <a href="" id="href"><h1>Albums</h1></a>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/albums"><li>Albums</li></a>
            <a href="/songs"><li>Songs</li></a>
            <a href="/addSong"><li>Add Song</li></a>
            <a href="/addAlbum"><li>Add Album</li></a>
        </ul>
    </nav>
</header>
<body>
<div id="big-container">
    <div id="albums-container">
        <div th:each="songs: ${songs}">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="${songs.album.imageUrl}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${songs.title}"></h5>
                    <p class="card-text" th:text="${songs.length}"></p>
                    <p class="card-text" th:text="${songs.trackNumber}"></p>
                    <p class="card-text" th:text="${songs.album.title}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>